/* Default styles for the whole app, including CSS vars and overrides */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

@font-face {
    font-family: "Belanosima";
    src: url("../fonts/belanosima/belanosimaSemiBold.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: "auto";
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/dm-sans/dm-sans-v15-latin-500.woff2");
    font-weight: 500;
    font-style: normal;
    font-display: "auto";
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/dm-sans/dm-sans-v15-latin-300.woff2");
    font-weight: 300;
    font-style: normal;
    font-display: "auto";
}

/* TODO: Move these to their own variables file */
body[data-theme="light"] {
    --background: #e0e1dd;
    --text-primary: #0d1b2a;
    --text-secondary: #1b263b;
    /* --accent: purple; */
}

body[data-theme="dark"] {
    --background: #0d1b2a;
    --text-primary: #e0e1dd;
    --text-secondary: #415a77;
    /* --accent: darkred; */
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;

}

h1 {
    font-family: "Belanosima";
    font-size: clamp(40px, 8vw, 80px);
}
